* {
  padding: 0;
  margin: 0;
}
.navbar {
  position: sticky;
  top: 0;
  background: #cdcdcd;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &__logo {
    display: flex;
    align-items: center;
    h1 {
      font-size: 2rem;
    }
  }
  .logo__img {
    height: 2rem;
    margin-right: 0.5rem;
  }
  .search-input {
    border: none;
    outline: none;
    padding: 0.2rem 0.5rem;
    font-size: 1.2rem;
  }
}

.counter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.2rem;
  color: #fff;
  font-size: 0.8rem;
  span {
    margin: 0 0.5rem;
  }
  button {
    font-size: 0.8rem;
  }
}

.landing {
  display: flex;
  height: 89vh;  
  h2 {
    text-align: center;
    color: #000;
    margin: 1rem 0;
    font-size: 1.6rem;
  }
  &__your-notes {
    background: #f0f0f0;
    padding-bottom: 0.5rem;
    flex: 2;
    order: 2;
    overflow-y: scroll;
    .empty-state {
      font-size: 1.5rem;
      font-family: monospace;
      text-align: center;
      color: #999;
    }
    .created-notes-div {
      background: #f2f2f2;
      width: 80%;
      margin: 0 auto;
      border-radius: 0.2rem;
      box-shadow: 0px 2px 5px 1px #222;
      font-size: 0.8rem;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      &--title, &--details {
        max-height: 3rem;
        overflow-y: scroll;
      }
    }
    .btn-container {
      text-align: center;
      button {
        font-weight: bold;
        &:hover {
          background: darken(#f3f3f3, 10%);
        }
      }
    }
  }
  &__note-section {
    background: #f0f0f0;
    order: 3;
    flex: 3;
    .note__form {
      display: flex;
      flex-direction: column;
      .form__input {
        font-size: 1.3rem;
        font-weight: bold;
      }
      .form__textarea {
        height: 28rem;
      }
      .form__input, .form__textarea {
        padding: 0.5rem;
      }
      .form__btn {
        border: none;
        outline: none;
        font-weight: bold;
        padding: 0.5rem 0;
        background-color: #ccc;
        &:hover {
          background: #d3d3d3;
        }
      }
    }
  }
}

.created-notes-div.slide-right {
  animation: slide 0.3s;
}

@keyframes slide {
  from{transform: translateX(0); opacity: 1;}
  to{transform: translateX(20rem); opacity: 0;}
}

@media screen and (max-width: 899px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  .counter {
    font-size: 0.8rem;
  }
  .navbar .search-input {
    font-size: 1rem;
    padding: 0.1rem 0.3rem;
  }
  .landing .landing__your-notes .empty-state {
    font-size: 1.3rem;
  }
  .landing .landing__notes-section .note__form .form__input {
    font-size: 1rem;
  }
}

@media screen and (max-width: 639px) {
  .navbar__logo h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 609px) {
  .counter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0.5rem;
    border-radius: 0;
    border-top-right-radius: 0.2rem;
    button {
      font-size: 0.5rem;
    }
  }
  .landing {
    display: block;
  }
  .landing .landing__your-notes {
    padding-bottom: 5rem;
  }
}